__pycache__/
.vscode
.xorkey
*.bin
*.db
*.dll
*.exe
*.pyc
bin/
server/downloads/
server/logs/
server/uploads/
.idea
*.toml
LearningData/                                           
final_policies/ 
final_qtables/ 
learning_qtables/ 
